<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Socket.IO Twitter Stream</title>
    <script src="//cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <style>
        body {
            font: 13px Helvetica, Arial;
        }

        .btn {
            width: 9%;
            background: rgb(130, 224, 255);
            border: 2px solid;
            padding: 10px;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 2px 2px 2px 2px;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #eee;
        }
    </style>

    <script>
        var socket;
        $(document).ready(function () {

            $('#btnStart').click(function () {
                if (socket) {
                    //socket.disconnect();
                    socket.emit('restartTwitter', $('#m').val());
                } else {
                    connectToServer();
                    socket.emit('startTwitter', $('#m').val());
                }
            });

            $('#btnStop').click(function () {
                socket.emit('stopTwitter');
            });
        });

        function connectToServer() {
            socket = io.connect('http://192.168.0.26:8888');
            //socket = io().connect('http://digitalsigntweeter-89636.onmodulus.net:8080');
            socket.on('stream', function (tweeter, tweet, user_image, dated, location, media) {
                // alert(media);
                if (media && media !== 'null' && media !== 'undefined') {
                    $('#messages').prepend('<br/><img src="' + user_image + '">  (' + tweeter + ') ***' + dated + '*** [' + location + '] ' + tweet + '<br/>' + media.forEach(loadImgs) + '<br/>');
                }
                else {
                    $('#messages').prepend('<br/><img src="' + user_image + '">  (' + tweeter + ') ***' + dated + '*** [' + location + '] ' + tweet + '<br/><br/><br/>');
                }
            });
        }

        function loadImgs(item, index) {
            $('#messages').prepend('<img height="300" width="420" src="' + item.media_url + '">');
        }

    </script>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

</head>
<body>
        <input id="m" autocomplete="off" /><br/>
        <Button type="button" id="btnStart" class="btn">Start Feed</Button>
        <Button type="button" id="btnStop" class="btn">Stop Feed</Button>
    <h4>Requested Tweets:</h4>

    <ul id="messages"></ul>
    <div id="tweetd"></div>
</body>
</html>